<div class="mail">
  <div class="avatar">
    <img src="https://s.gravatar.com/avatar/{{hash}}?s=48" />
  </div>
  <div class="details">
    <p class="to">{{to}}</p>
    <p class="date">{{date}}</p>
    <p class="subject">{{subject}}</p>
    <p class="body">{{summary}}</p>
  </div>
</div>
