<div>
  <header>
    <h1>{{subject}}</h1>
    <p>
      to <img src="https://s.gravatar.com/avatar/{{hash}}?s=48" /> <strong>{{to}}</strong> - <time>{{date}}</time>
    </p>
  </header>
  <div class="content">
    <pre>{{body}}</pre>
  </div>
  <div class="quick-reply">
    <textarea placeholder="Quick reply..."></textarea>
    <button class="send-button">Send</button>
  </div>
</div>
